@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
body {
    background-color: #1f2937;
    color: green;
    font-family: 'Gemunu Libre', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
}

input,
label {
    display: block;
}

input {
    margin-bottom: 0.5rem;
    width: 100%;
}

#check-number {
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: transparent;
    color: lightgreen;
    background-color: #1f2937;
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.3rem;
}